html{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 40px;	
}

.container{
	width: 80%;
	margin: auto;
	
}

span{
	display: inline-block;	
	margin: 20px;
	font-size: 4em;
}

.icon-paperplane{
	color: tomato;
}

.icon-key{
	color: lime;
}

.icon-bubble{
	color: purple;
}

.icon-banknote:hover{
	color: green;
}

.bg{
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 2em;
	background: url(../icons-svg/settings.svg) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

svg{
	margin: 20px;	
	width: 50%;
	height: 100%;
}
 
#world path{
	fill: orange;
	opacity: 0.5;
}


#world path:hover{
	fill: purple;
	stroke: lime;
	opacity: 1;
}


#star path{
	fill: yellow;
	stroke: lime;
	stroke-dasharray: 120;
	animation: dash 8s linear;
}

@keyframes dash{
	to{
		stroke-dasharray: 20;
	}
}


#paperplane path{
	fill: lightblue;
	stroke: purple ;
	stroke-dasharray: 120;
	animation: dash 25s linear;
}

@keyframes dash{
	to{
		stroke-dashoffset:1000;
	}
}