html{
	box-sizing: border-box;
}

body{
	margin: 0;
	
}

.container{
	width: 80%;
	margin: auto;
	margin-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

span{
	margin: 20px;
	font-size: 4em;
}

.icon-paperplane{
	color: tomato;
}

.icon-key{
	color: lime;
}

.icon-bubble{
	color: purple;
}

.icon-banknote:hover{
	color: green;
}

.bg{
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 2em;
	background: url(../icons-svg/settings.svg) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

svg{
	width: 50%;
	height: 50%;
}
 
#world path{
	fill: orange;
	opacity: 0.5;
}


#world path:hover{
	fill: yellow;
	stroke: lime;
	opacity: 1;
}